streamlit
pandas
numpy 
yfinance
streamlit_multi_menu 
plotly 
seaborn
statsmodels
matplotlib
scipy
PyPortfolioOpt
pypfopt
EfficientFrontier
risk_models
expected_returns
objective_functions
plotting, HRPOpt
