streamlit
pandas
numpy 
yfinance
streamlit_multi_menu 
plotly 
seaborn
statsmodels
matplotlib
scipy
pyportfolioopt==1.5.6
EfficientFrontier
risk_models
expected_returns
objective_functions
plotting
HRPOpt
